$fuentePrincipal: "Roboto", serif;

//colores https://digitalsynopsis.com/design/beautiful-color-palettes-combinations-schemes/
$azul: #03396c;
$azulClaro: #6497b1;
$vino: #851e3e;
$amarillo: #f6cd61;
$naranja: #f37736;
$rojo: #ee4035 ;
$verde: #009688;
$blanco: #ffffff;
$negroAzul: #1e1f26;
$gris: #e9e9e9;
$grisClaro: rgb(234, 234, 234);
$negroClaro: #4a4e4d;


//Media Queries
$telefono: 480px;
$tablet: 768px;
$deskop: 1200px;
$deskopXL: 1400px;
