@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.video {
  position: relative;
  min-height: 30rem;
  max-height: 60rem;
  overflow: hidden;
  display: none;
  @include m.tablet {
    display: inherit;
  }

  .overlay {
    position: absolute;
    background: linear-gradient(
      270deg,
      rgba(v.$azul, 60%),
      rgba(color.adjust(v.$negroAzul,$lightness: -20%), 85%)
    );
    inset: 0;

    display: flex;
    align-items: center;
  }

  video {
    width: auto;
    @include m.deskop {
      width: 100%;
    }
  }
}

.contenido-video {
  text-align: center;
  z-index: 10; //No lo requiere pero se agrega por ejemplo de curso

  @include m.tablet {
    text-align: left;
  }

  h1, p {
    color: v.$blanco;
  }

  p {
    padding: 1rem 2rem;
    background-color: v.$naranja;
    display: inline-block;
  }
}

